* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}
body {

	background-image: url(./background/body2.jpg); 
	background-size: cover;
	background-position: center;
}
h1 {
	font-family: 'Permanent Marker', cursive;
}
h2 {
	font-family: 'Permanent Marker', cursive;
	font-family: 'Russo One', sans-serif;
	
	color: white;
}

.book {
	font-size: 18px;
	text-decoration: none;
	color: black;
	border: black 1px solid;
	padding: 10px 20px;
	border-radius: 10px;
	margin-top: 10px;
}
.login {
	background-color: #5A0C0C;
	border-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-content: center;

}
.lead {
	font-family: 'Permanent Marker', cursive;
	font-family: 'Satisfy', cursive;
}
.navbar {
	background-color: #4F0503;

}


/*span#navSession {
	display: flex;
}*/

.jumbotron {
	background-image: url(./background/index.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;


}






footer {
	margin-bottom: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #4F0503;
}